html{
  font-family: century-gothic, sans-serif;
  text-align:center;
  
}


body{
  background-color:skyblue;
  display:flex;
  flex-direction:column;
  padding:100px;
  justify-content:center;
  align-items:center;
}

#text-input{
  border-radius:20px;
  width:40vw;
  height:20vh; 
  padding:10px;
}

#text-input::placeholder{
  font-family: century-gothic, sans-serif;
  font-size:1.2em;
}