html{
  font-family: century-gothic, sans-serif;
}

body{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

button{
  border:none;
  background-color:transparent;
  margin:10px;
}

.filled{
  color:red;
}
